<div class="container">
    <h1><%= @user.name %>'s Profile</h1>

    <% if @user.id == session[:user_id] %>
        <%= link_to "Edit profile", edit_user_path(@user), class: "waves-effect waves-teal btn" %>
    <% end %>

    <br>
    <br>

    <div class="row">
        <% all_nil = true %>
        <% @user.images.each do |img| %>
            <% if img.image_file_name != nil %>
                <% all_nil = false %>
            <% end %>    
        <% end %>
        <% if all_nil %>
                <%= image_tag "dog-picture.png", style: "height: 100px; width: 100px" %>
        <% else %>
            <% @user.images.each do |img| %>
                <% unless img.image_file_name.nil? %>
                    <%= image_tag img.image.url(:thumb), style: "height: 100px; width: 100px" %>
                <% end %>
            <% end %>
        <% end %>
    </div>



</div>