<div class="container">
    <h1 class="teal-text text-darken-2 center">About Pawsh</h1>
    <div class="row">
        <div class="col s8 offset-s2">
            <p>Pawsh is a web app for dog owners. They are able to enter locations that are dog-friendly. Some of the categories are dog parks, dog-friendly hotels, and restaurants.</p>
            <p>The idea to create Pawsh was born when I was planning a mini vacation in San Diego. I wanted to take my dog, so I started to look for dog-friendly hotels and restaurants.</p>
        </div>    
    </div>
</div>
