<nav class="nav-center teal lighten-2">
    <div class="nav-wrapper container ">
        <ul id="nav-mobile" class="hide-on-med-and-down">
            <li><a href="/pages/parks">Dog Parks</a></li>
            <li><a href="/pages/restaurants">Restaurants</a></li>
            <li><a href="/pages/hotels">Hotels</a></li>
            <li><a href="/pages/veterinarians">Veterinarians</a></li>
            <li><a href="/pages/groomers">Groomers</a></li>
        </ul>
    </div>
</nav>

<h1 class="center">Pet Stores</h1>
